#components-layout-demo-fixed .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.site-layout .site-layout-background {
    background: #fff;
}

.team-Title {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 8px;
    text-transform: uppercase;
    background: -webkit-radial-gradient(circle, rgba(41, 16, 121, 1) 0%, rgba(2, 0, 36, 1) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-box-shadow: 0px 0px 5px 2px rgba(41, 16, 121, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(41, 16, 121, 1);
    box-shadow: 0px 0px 5px 2px rgba(41, 16, 121, 1);

    border-radius: 59px 59px 59px 59px;
    border: 0px solid #000000;
}

.MemberCategory {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.MemberInfo {
    display: inline-block;
    height: 64px;
    vertical-align: middle;
    margin-left: 20px;
    padding: 5px;
}

.MemberInfo > p {
    margin-bottom: 0;
    height: 50%;
}

.MemberName {
    font-size: 16px;
    font-weight: 600;
}

.MemberButton {
    height: 70%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 15%;
}

@media (max-width: 575px) {
    .team-Title {
        font-size: 1.5em;
    }

    .MemberCategory {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .MemberButton {
        height: 50%;
        top: 25%;
    }
}

@media (min-width: 576px ) and (max-width: 767px) {
    .team-Title {
        font-size: 2em;
    }

    .MemberCategory {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .team-Title {
        font-size: 2em;
    }

    .MemberCategory {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
